# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\School Work - Jae\JamBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

Environment/